.navLink {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0 1rem;
  height: 3rem;
  line-height: 3rem;
  white-space: nowrap;

  [data-dark-mode] & {
    color: rgba(#fff, 0.88);
  }

  &.active,
  &:hover {
    background: #ea6153;
    color: #fff;

    [data-dark-mode] & {
      background: rgba(#fff, 0.1);
      color: rgba(#fff, 0.88);
    }
  }
}