.container {
  position: sticky;
  top: 4rem;
  will-change: transform;

  @media (max-width: 767px) {
    position: relative;
    top: 0;
    padding-bottom: 5rem;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subList {
  composes: list;
}

.listItem {
  line-height: 1.2;

  > a {
    display: block;
    border-left: 2px solid rgba(#bdbdbd, 0.4);
    padding: 0.4rem 1rem;
    text-decoration: none;
    color: #5f6368;
    font-size: 1rem;
    transition: border-left-color 0.5s;

    [data-dark-mode] & {
      border-left-color: #202124;
    }

    &:hover {
      background: #f5f6f7;
      color: #202124;

      [data-dark-mode] & {
        background: rgba(#fff, 0.05);
        color: rgba(#fff, 0.68);
      }
    }

    &[data-is-active] {
      border-left-color: #202124;
      color: #202124;
      font-weight: bold;

      [data-dark-mode] & {
        border-left-color: rgba(#bdbdbd, 0.4);
        color: rgba(#fff, 0.68);
      }
    }
  }
}

.subListItem {
  composes: listItem;

  > a {
    padding-left: 2rem;
    font-size: 0.75rem;
  }
}
