html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  color: #212529;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

hr {
  box-sizing: content-box;
  height: 0;
  margin: 1rem 0;
  border: 0;
  border-top: 1px dashed #ddd;
}

a {
  color: #07d;
  text-decoration: none;
}
a:hover {
  color: #059;
}

[id^="chapter-"] {
  padding-top: 4rem;
  margin-top: -4rem;
}
