.container {
  text-align: justify;
  line-height: 24px;
  letter-spacing: 1px;
  font-size: 18px;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;

  & + & {
    margin-top: 2rem;
  }
}

.questionLabel {
  margin: 0 0 0.5rem;
  font-weight: bold;
}